<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>WELCOME TO THE GAMING CENTER</h1>

    <h2>Choose the game which you want to play</h2>

    <div class="box">
        <a id="box1" href="http://localhost:8080/word">GUESS THE WORD</a>
        <a id="box2" href="http://localhost:8080/number" >GUESS THE NUMBER</a>
        <a id="box3" href="http://localhost:8080/jumble">SOLVE THE JUMBLED WORD</a>
    </div>
</body>
</html>