<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style3.css">
</head>
<body>
    <div class="b"><a href="//localhost:8080">Home page</a></div>
    <div class="main">
        <p>Jumbled word : <%= jumbled %></p>
        <form method="post" action="/jumbled">
            <p>Enter the correct word : <input type="text" name="n1" style="opacity: 0.5;"><button type="submit" style="visibility: hidden;">submit</button></p>
        </form>

        <% if(n1) {%>
        <% if(word == n1) {%>
            <p>Your answer is correct . The correct answer is <%= word  %> </p>
            <div class="b hint"><a href="//localhost:8080/jumble">Play again</a></div>
        <% } else{ %>
            <p>Your answer is wrong . The correct answer is <%= word  %></p>
            <div class="b hint"><a href="//localhost:8080/jumble">Play again</a></div>
        <% } %> 
        <% } %>  
    </div>
</body>
</html>