<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>RANDOM QUOTE</h1>
    <form action="http://localhost:8080/" method="post">
        <button type="submit">click here to generate a random quote</button>
        <br><br>
        <textarea style="width: 500px; height: 100px;"><%= quote  %></textarea>
    </form>
</body>
</html>